@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&family=Special+Elite&display=swap");
@font-face {
  font-family: quake;
  src: url("../font/quake/dpquake_.ttf");
}
body {
  margin: 0px;
  font-family: "quake";
  font-weight: 200;
  color: white;
}

#menuDiv {
  background-image: url("../img/mainMenu2.jpg");
  /* background-color: #cccccc; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menuText {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.menuText > h1 {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}
#butonMenu {
  /* display: block; */
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;

  background: #ffffff;
  border: none;
  border-radius: 0.4em;

  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.04em;

  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
}
#butonMenu:hover {
  background-color: #3e8e41;
  color: white;
}

#canvas {
  display: none;
  width: 100vw;
  height: 100vh;
}
.display {
  display: none;
}
