@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600&family=Special+Elite&display=swap");
@font-face {
  font-family: quake;
  src: url("../font/quake/dpquake_.ttf");
}
body {
  margin: 0px;
  font-family: "quake";
  font-weight: 200;
  color: white;
}

.menuDiv {
  background-image: url("../img/mainMenu2.jpg");
  /* background-color: #cccccc; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menuText {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
